@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background: #343F4F;
}
.top-navigation{
    background-color: black;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 5% 0 0;
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding: 0 25px;
}
.logo span{
    color: aquamarine;
}
.top-navigation a{
    text-decoration: none;
}
.top-navigation ul {
    list-style: none;
    display: flex;
    margin: auto;
}
.top-navigation li{
    padding: 25px 25px;
    padding-top: 30px;

}
.top-navigation li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
    border-radius: 5px;
    padding: 5px 5px;
}
.top-navigation li a:hover{
    color: white;
    background-color: aquamarine;
    border: 1px solid;
    border-width: auto;
}
.top-navigation button {
    cursor: pointer;
    border: 1;
    border-color: white;
    border-radius: 6px;
    font-weight: bold;
    width: 100px;
    padding: 10px 20px;
    transition: 0.4s;
    font-size: 15px;
    background: transparent;
    color: white;
    margin-left: 10px;
}
.top-navigation button:hover{
    background: aquamarine;
}
.signup-login-box{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup-login-box a{
    text-decoration: none;
    display: flex;
    padding-left: 5px;
    color: #2196F3;
  }
  #signup-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}

.signup-form h2{
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
}
.signup-form span{
    color: aquamarine;
}
.signup-form .divider {
    margin-top: 30px;
}
.signup-form form input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
}
.signup-form button{
    padding: 12px 0px;
    width: 100%;
    background: #107869;
    border-radius: 4px;
    border: 0;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}
.modal{
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    background-color: black;
    border-radius: 4%;
}
.top-form{
    display: flex;
    justify-content: flex-end;
}
.top-form .close-modal{
    cursor: pointer;
    font-size: 20px;
    color: white;
    justify-content: flex-end;
}
#login-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
}

.login-form h2{
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
}
.login-form span{
    color: aquamarine;
}
.login-form .divider {
    margin-top: 30px;
}
.login-form form input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
}
.login-form button{
    padding: 12px 0px;
    width: 100%;
    background: #107869;
    border-radius: 4px;
    border: 0;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}
.error{
    color: #c51244;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}
.section{
    margin: auto;
    padding: 30px;
    height: auto;
    display: flex;
    width: 90%;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.slider{
    width: 1366px;
    height: 768px;
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 768px;
    display: flex;

}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 2s;
    filter: brightness(50%);
}
.nav-m{
    position: absolute;
    width: 1366px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid aquamarine;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: aquamarine;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
.nav-auto{
    position: absolute;
    width: 1366px;
    margin-top: 728px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid aquamarine;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: aquamarine;
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: aquamarine;
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: aquamarine;
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: aquamarine;
}
.home-sidebar{
    width: 95%;
    margin: auto;
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
.voting-links{
    width: 100%;
    border-radius: 5px;
    background-color: black;
    font-size: 25px;
    font-weight: bolder;
    color: aquamarine;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.voting-links span{
    font-size: 30px;
    display: inline-flex;
    padding-left: 10px;
    letter-spacing: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
.vote-links{
    justify-content: space-between;
    align-items: center;
}
.vote1{
    background-color: #1f1f1f;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.vote1:hover{
    background-color: rgb(170, 170, 170);
    transition: 1s;
}
.vote{
    background-color: black;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.vote:hover{
    background-color: rgb(170, 170, 170);
    transition: 1s;
}
.vote-links li a{
    height: auto;
    width: auto;
    align-items: center;
    text-decoration: none;
    display: flex;
    margin: 15px;
}
.vote-links li{
    position: relative;
    list-style: none;
    width: 100%;
    text-align: center;
}
.vote-links li iconify-icon{
    width: 50px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    display: flex;
    margin: 5px;
}
.vote-links .links-name{
    padding-left: 10%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 50%;
}
.vote-links p{
    position: relative;
    color: white;
    display: flex;
    padding-left: 10%;
}
.profile-details i{
    font-size: 30px;
    font-weight: 500;
    color: azure;
    margin: 0 5px;
    white-space: nowrap;
}
.profile-details{
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    height: 50px;
    min-width: 200px;
    color: azure;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    align-items: right;
}
.profile-details .admin-name{
    color: azure;
    font-size: 20px;
    margin-right: 15px;
}
#logout-link{
    display: flex;
    justify-content: right;
    text-align: right;
}
#logout-link a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
    border-radius: 5px;
    display: inline-flex;
    padding: 5px;
}
#logout-link a:hover{
    color: white;
    background-color: aquamarine;
    border: 1px solid;
    border-width: auto;
}
#logout-link .links-name{
    color: #fff;
    font-size: 20px;
    white-space: nowrap;
}
.charts-leader h2{
    color: #fff;
    font-size: 20px;
    display: flex;
}
.charts-leader hr{
    width: 155%;
}
.charts-selector{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.charts-leader{
    width: 60%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin:auto;
}
.box{
    max-width: 400px;
    padding: 10px;
    background: black;
    margin: 15px auto;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.box:hover{
    border: 2px solid aquamarine;
    transition: 0.5s;
}
.box img{
    max-width: 100px;
    height: 150px;
    display: block;
    object-fit: cover;
    float: left;
    border: 2px solid aquamarine;
    margin: 10px;
}
.box .heading{
    width: 100%;
    padding: 0 5px;
    min-width: 300px;
    float: right;
}
.heading h3{
    text-transform: uppercase;
    color: aquamarine;
    padding: 15px 0px 15px 0px;
}
.box .description{
    width: auto;
    padding: 15px;
    display: inline-block;
}
.box p{
    font-size: 13px;
}
.seasonal-title{
    width: 100%;
    padding: 25px;
    background: whitesmoke;
}
.seasonal-title .seasonal-description{
    text-align: center;
    padding: 0;
    margin: 0;
}
.seasonal-description h1{
    font-size: 50px;
    font-weight: bolder;
}
.seasonal-description h2{
    font-size: 25px;
    font-weight: bolder;
    color: #343F4F;
}
footer{
    margin-top: 30px;
    background: black;
    height: auto;
    color: white;
    padding: 40px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li{
    margin: 0px 10px;
}
.socials a{
    text-decoration: none;
    color: white;
    transition: color 0.5 ease;
}
.socials a i{
    font-size: 25px;
}
.socials a:hover i{
    color: aquamarine;
}
.footer-bottom{
    background: black;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    color: aquamarine;
    font-weight: bold;
}
.vote-list-content{
   height: auto;
   margin: auto;
   width: auto;
}
.vote-list-content ul{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 100%;
}
.vote-list-content ul li{
    width: 90%;
    height: auto;
    background: rgb(22, 22, 22);
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.vote-list-content ul li img{
    object-fit: cover;
    border: 2px solid aquamarine;
    padding: 5px;
}
.vote-list-content ul li a{
    text-decoration: none;
    color: white;
}
.vote-list-content ul li h2{
    text-decoration: none;
    color: aquamarine;
}

.ranking-list-content{
    height: auto;
    width: auto;
    display: flex;
 }
 .ranking-list-content ul{
     text-decoration: none;
     list-style: none;
     display: inline-block;
     width: 100%;
 }
 .ranking-list-content ul li{
     width: 90%;
     height: auto;
     background: rgb(31, 34, 56);
     padding: 50px;
     margin: auto;
     margin-top: 20px;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     border-radius: 10px;
 }
 .ranking-list-content ul li img{
     object-fit: cover;
     border: 2px solid aquamarine;
     padding: 5px;
 }
 .ranking-list-content ul li a{
     text-decoration: none;
     color: white;
 }
 .ranking-list-content ul li h2{
     text-decoration: none;
     color: aquamarine;
 }
 .poll-wraper{
    align-items: center;
    justify-content: center;
 }
 .poll-title{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
 }
 .poll-option{
    display: flex-end;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: black;
    margin: 25px;
    height: auto;
    border-radius: 10px;

 }
 .poll-option h3{
    display: inline-block;
    color: white;
    width: 20%;
    font-size: 18px;
    margin-right: 15px;
 }
 .poll-option h2{
    color: aquamarine;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
 }
 .poll-option img{
    object-fit: cover;
    align-items: right;
    text-align: right;
    justify-content: right;
    display: flex-end;
}
 .submit-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .submit-btn input{
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: white;
    padding: 20px;
    width: 350px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
  }
  .submit-btn input:hover{
    background-color: rgb(25, 27, 53);
    transition-duration: 0.4s;
  }
 /* The container */
.container {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: left;
  }
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    display: inline;
    left: 0;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 50px;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
.completed-poll{
    margin: auto;
    height: auto;
    width: 90%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #000000;
    border-radius: 10px;
}
.completed-poll h1{
    color: white;
    padding: 100px 200px;
    margin: auto;
}
.completed-poll a{
    color: white;
    font-size: 25px;
    margin: auto;
    padding: auto;
}
.ranking-title{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
}
.ranking-list{
    justify-content: center;
    align-items: center;
    display: flex;
}
.ranking-list img{
    justify-content: flex-start;
    object-fit: cover;
}
.ranking-list ul{
    list-style: none;
    display: inline-block;
}
.ranking-list ul li{
    display: inline-flex;
    margin: 25px;
    width: 95%;
    background: black;
    border-radius: 10px;
}
.ranking-list h2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: aquamarine;
    font-size: 30px;
}
.ranking-list h3{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    color: white;
    font-size: 45px;
}